# Python packages required for metadata_writer_for_image_classifier.py
absl-py
tensorflow
tflite-support
flatbuffers==1.12
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
